body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #1E90FF; /* Warna biru laut */
}

.logo {
    width: 150px; /* Ukuran logo di halaman login */
    height: auto;
    margin-bottom: 20px; /* Jarak antara logo dan form */
}

#loginForm {
    background-color: #fff;
    padding: 35px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50; /* Warna hijau */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049; /* Warna hijau lebih gelap saat hover */
}

.error-message {
    color: red;
    margin-top: 10px;
}

.hidden {
    display: none;
}

.coming-soon {
    text-align: center;
    margin-top: 20px;
}

.kembali-button {
    background-color: #f44336; /* Warna merah */
}

.kembali-button:hover {
    background-color: #e53935; /* Warna merah lebih gelap saat hover */
}

.menu-button {
    background-color: #2196F3; /* Warna biru */
}

.menu-button:hover {
    background-color: #1976D2; /* Warna biru lebih gelap saat hover */
}

.logout-button {
    background-color: #FF5722; /* Warna oranye */
}

.logout-button:hover {
    background-color: #E64A19; /* Warna oranye lebih gelap saat hover */
}
